<div class="form">
  <div id="<%= dom_id publication %>">
    <div>
      <img src="assets/images.jpeg">
    </div>
    
    <div>
      <%= publication.title %>
    </div>
    <div>
      <%= publication.description %>
    </div>
  </div>
</div>